.aadi_back-image{
    background-image: url('/public/images/aadi\ image.jpg image.jpg');
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: coral;
}